html {
    height: 100%;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #ffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Alice, sans-serif;
    color: #21403C;
}

.logo {
    color: #21403C;
    font-size: 35px;
    letter-spacing: 2px;
}

.navbar {
    background-color : #eeebe3;
}

.fa-gem {
    color: #63BFB5;
}

.list-inline-item a {
    color: #21403C;
    font-weight: 800;
    text-transform: uppercase;
    margin-top:10px;
}

.list-inline-item a:hover {
    background-color: #63BFB5;
    color:#eeebe3;
}

.carousel {
    margin-left: auto;
    margin-right:auto;
}

.carousel img {
    max-height: 485px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.carousel-control-next, .carousel-control-prev {
    width:35%;
}

.title-home {
    background-color:#eeebe3;
    margin-top: 8%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800;
    border-radius: 0;
    line-height:25px;
}

.text-intro {
    margin-top:7%;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btn {
    background-color: #BF77BB;
    color: white;
    margin: 5px;
    padding:8px;
    border-radius: 0;
}

.btn:hover {
    background-color: #63BFB5;
}

.btn-blue {
    background-color: #63BFB5;
    padding:8px;
    margin:5px;
    color: white;
}

.btn-blue:hover {
    background-color: #BF77BB;
}

.home-container {
    margin-top:15%;
}

.gem-product {
    margin:10px;
}

/* Media queries */

@media only screen and (max-width: 1000px) {
    .title-home {
        margin-top:10%;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size:25px;
    }
    ul {
        font-size: 13px;
    }
    .carousel img {
        max-height: 350px;
        max-width: 350px;
    }
    .title-home {
        margin-top:20%;
    }
}

@media only screen and (max-width: 400px) {
    .title-home {
        margin-top:30%;
    }
}

/* Navbar */

#main-nav {
    background-color: white;
    text-align:center;
}

.logo-font {
    color: #21403C !important;
    font-family: Alice, sans-serif;
}

.logo-font:hover {
    color: white !important;
}

.nav-item {
    margin:5px;
}

.nav-item:hover {
    background-color: #63BFB5;
}

.btn-form {
    background-color: #21403C;
    color:white;
}

.center {
    margin:auto;
}

/* Products - Design inspired by Boutique Ado Products page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.color-all-product {
    color: #21403C;
}

.color-all-product:hover {
    color: #21403C;
    text-decoration: underline;
}

.color-product {
    color: #21403C;
}

.margin-top {
    margin-top:17%;
}
.title-product {
    text-align: center;
    background-color: #eeebe3;
    text-transform:uppercase;
    font-weight:800;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #eeebe3;
    color: #21403C;
    border: 1px solid #21403C;
}

.btt-button:hover {
    background-color: #63BFB5;
    border: 1px solid #63BFB5;
    color: #eeebe3;
}

.btt-link {
    cursor: pointer;
}

.btn-qty {
    margin: 8px;
    padding:4px;
    border-radius: 0;
}

form {
    margin-top:0px !important;
}

@media only screen and (max-width: 1030px) {
    .margin-top {
        margin-top:20%;
    }
}

@media only screen and (max-width: 600px) {
    .margin-top {
        margin-top:10%;
    }
}

@media only screen and (max-width: 420px) {
    .margin-top {
        margin-top:30%;
    }
    .list-inline-item {
        font-size:12px;
    }

    .nav-link {
        padding:0;
    }
}

/* Shopping bag */

.title-product-bag {
    border-bottom: 1px solid #eeebe3;
    text-align:center;
    margin-top: 3%;
}