html {
    height: 100%;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #ffff;
	background-size: cover;
    height: calc(100vh - 164px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Alice, sans-serif;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 2px;
}

.navbar {
    background-color : #eeebe3;
}

.fa-gem {
    color: #63BFB5;
}

.list-inline-item a {
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-top:10px;
}

.list-inline-item a:hover {
    border-bottom: 2px solid #63BFB5;
    border-right: 2px solid #63BFB5;
    border-left: 2px solid #63BFB5;
}

.carousel {
    margin-left: auto;
    margin-right:auto;
}

.carousel img {
    max-height: 500px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
}

.carousel-control-next, .carousel-control-prev {
    width:35%;
}

.title-home {
    margin-top: 20%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800;
}

.text-intro {
    margin-top:7%;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btn {
    background-color: #63BFB5;
    color: white;
    margin: 0;
}

.btn:hover {
    background-color: #63BFB5;
}

.home-container {
    margin-top:8%;
}