<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-jewellery-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bycategory-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bycategory-link">
                <a href="" class="dropdown-item">Rings</a>
                <a href="" class="dropdown-item">Earings</a>
                <a href="" class="dropdown-item">Necklaces</a>
                <a href="" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bymood-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Mood
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bymood-link">
                <a href="" class="dropdown-item">Peaceful</a>
                <a href="" class="dropdown-item">Energetic</a>
                <a href="" class="dropdown-item">Fun</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>