<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-jewellery-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=mood&direction=asc" class="dropdown-item ">By Mood</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="bycategory-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bycategory-link">
                <a href="{% url 'products' %}?category=earings_category" class="dropdown-item">Earings</a>
                <a href="{% url 'products' %}?category=necklaces_category" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=bracelets_category" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="bymood-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Mood
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bymood-link">
                <a href="{% url 'products' %}?mood=	peace_mood_category" class="dropdown-item">Peaceful</a>
                <a href="{% url 'products' %}?mood=energetic_mood_category" class="dropdown-item">Energetic</a>
                <a href="{% url 'products' %}?mood=fun_mood_category" class="dropdown-item">Fun</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Moods</a>
            </div>
        </li>
    </ul>
</div>