.order-summary {
    border-bottom: 1px solid #eeebe3;
    padding-bottom:8px;
    margin-top:5%;
}

.hr-border-color {
    border-color: #eeebe3;
}

.form-container {
    margin-top:4%;
}

.form-title {
    border-bottom: 1px solid #eeebe3;
    padding-bottom:8px;
}

@media only screen and (min-width: 900px) {
    .order-summary{
        margin-top:10%;
    }
}

/* Css Payment form from Boutique ado - stripe videos */

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: black;
    border: 1px solid grey;
}

/* Stripe css design from here : https://stripe.com/docs/stripe-js */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}


select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Checkout success */

.order-title {
    font-weight: 800;
    text-decoration: underline;
}